<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <link
      rel="stylesheet"
      href="https://abinandhan.s3.ams03.cloud-object-storage.appdomain.cloud/styles.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Cloud-Storag</title>
  </head>
  <body>
    <h1 class="">Images from cloud</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class=""></p>
          <img
            src="https://abinandhan.s3.ams03.cloud-object-storage.appdomain.cloud/cars.jpg"
            class="b-block w-100"
            alt="..."
          />
        </div>
        <div class="col">
          <p class=""></p>
          <img
            src="https://abinandhan.s3.ams03.cloud-object-storage.appdomain.cloud/cars2.jpg"
            class="b-block w-100"
            alt="..."
          />
        </div>
        <div class="w-100"></div>
        <div class="col">
          <p class=""></p>
          <img
            src="https://abinandhan.s3.ams03.cloud-object-storage.appdomain.cloud/msd.jpg"
            class="b-block w-100"
            alt="..."
          />
        </div>
        <div class="col">
          <p class="img-header"><cars class="jpg"></cars></p>
          <img
            src="https://abinandhan.s3.ams03.cloud-object-storage.appdomain.cloud/msd2.jpg"
            class="b-block w-100"
            alt="..."
          />
        </div>
        <div class="col">
          <p class="img-header"><cars class="jpg"></cars></p>
          <img
            src="https://abinandhan.s3.ams03.cloud-object-storage.appdomain.cloud/styles.css"
            class="b-block w-100"
            alt="..."
          />
        </div>
      </div>
    </div>
  </body>
</html>
